/* This below is to make certain collapse templates have larger font size and blue link color. I created a class called .larger_collapse_template. */

.collapse .card, .collapsing .card {
  background-color: transparent !important;
  border: none;
}

.larger_collapse_template .al_collapse_template a.al_toggle,
.al_display_template a.al_toggle {
  color: #0256D4; /* Blue */
  text-decoration: none;
  text-decoration-line: none;
}

.larger_collapse_template .pdcaretopen, .pdcaretclosed, a[data-bs-toggle="collapse"] {
  font-size: 1.2rem;
  text-decoration: none;
}

.larger_collapse_template .step-subheading {
  font-size: 1.2rem;
  color: #0A2A78;
}

.larger_collapse_template .example {
  margin-top: .1em;
  margin-bottom: .1em;
}

.larger_collapse_template .example .heading {
  font-weight: bold;
  color: #0A2A78;
  margin-bottom: .1em;
}


.larger_collapse_template .al_table, .al_table#al_user_bundle {
  margin-top: .1em;
  margin-bottom: .1em;
}

.larger_collapse_template .card > ul > li:last-child  > ul > li:last-child {
  margin-bottom: .1em;
}